<mat-card class="flex-row flex-center">
  <mat-card-title *ngIf="favoritesList.length === 0">
    No tienes favoritos
  </mat-card-title>
  <mat-card-title *ngIf="favoritesList.length > 0">
    Tus favoritos:
  </mat-card-title>
  <img
    mat-card-image
    *ngIf="favoritesList.length === 0"
    src="assets/img/cat9.jpg"
    alt="no favorites"
  />
  <mat-card-content>
    <table *ngIf="favoritesList.length > 0">
      <tr>
        <th>Nombre</th>
        <th>Status</th>
        <th><mat-icon>delete</mat-icon></th>
      </tr>
      <tr *ngFor="let owner of favoritesList">
        <td class="clickable" (click)="openDetails(owner['id'])">
          {{ owner["name"] }}
        </td>
        <td class="clickable" (click)="openDetails(owner['id'])">
          {{ owner["status"] }}
        </td>
        <td class="clickable" (click)="onDelete(owner['id'])">
          <mat-icon color="warn">highlight_off</mat-icon>
        </td>
      </tr>
    </table>
    <div *ngIf="favoritesList.length === 0">
      ¿Quieres añadir algunos? <br />
      Busca dueños en la sección de búsqueda.
    </div>
  </mat-card-content>
</mat-card>
