<div class="flex-row flex-center">
  <table>
    <tr>
      <th>Nombre</th>
      <th>e-mail</th>
      <th>Status</th>
      <th>Comentarios</th>
    </tr>
    <tr
      *ngFor="let owner of list"
      [ngClass]="{
        clickable: true,
        'owners-list-selected': showDetail && detailOwner['id'] === owner['id']
      }"
    >
      <td (click)="openDialog(owner['id'])">
        {{ owner["name"] }}
      </td>
      <td (click)="openDialog(owner['id'])">
        {{ owner["email"] }}
      </td>
      <td (click)="openDialog(owner['id'])">
        {{ owner["status"] }}
      </td>
      <td class="clickable" (click)="openComments(owner['id'])">ver</td>
    </tr>
  </table>
</div>
<br />
<div class="flex-row space-evenly">
  <button
    mat-raised-button
    color="accent"
    [disabled]="page <= 1"
    (click)="prevPage()"
  >
    Anterior
  </button>
  <span>{{ page }} de {{ maxPages }}</span>
  <button
    mat-raised-button
    color="accent"
    [disabled]="page >= maxPages"
    (click)="nextPage()"
  >
    Siguiente
  </button>
</div>
