table {
  border-collapse: collapse;
  width          : 80vw;
}

td,
th {
  // border    : 1px solid #dddddd;
  text-align: left;
  padding   : 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.owners-list-selected {
  border    : 1px solid #0099ff;
  box-shadow: 0px 0px 7px 3px #3aaffd;
}

.owners-list-card {
  width           : 300px;
  text-align      : center;
  background-color: #fafbe6;
}