<mat-card class="owner-detail-card">
  <mat-card-title>{{ detail["name"] }}</mat-card-title>
  <mat-card-subtitle>{{ detail["gender"] }}</mat-card-subtitle>
  <img
    mat-card-image
    *ngIf="detail['gender'] === 'Male'"
    [src]="maleCat"
    alt="photo profile"
  />
  <img
    mat-card-image
    *ngIf="detail['gender'] !== 'Male'"
    [src]="femaleCat"
    alt="photo profile"
  />
  <mat-card-content>
    <p
      [ngClass]="{
        green: status === 'Active',
        red: status !== 'Active'
      }"
    >
      {{ status }}
    </p>
    <p>{{ detail["email"] }}</p>
    <p>
      Registrad<span *ngIf="detail['gender'] === 'Male'">o </span
      ><span *ngIf="detail['gender'] === 'Female'">a </span>
      <span *ngIf="years || months || days || hours">hace </span>
      <span *ngIf="years">{{ years }} años - </span>
      <span *ngIf="months">{{ months }} meses - </span>
      <span *ngIf="days">{{ days }} días - </span>
      <span *ngIf="hours">{{ hours }} horas.</span>
      <span *ngIf="!hours">ahora.</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex-row space-evenly">
      <button mat-stroked-button (click)="onClose()">X</button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="!existsInFavList(detail['id'])"
        (click)="onAddFav(detail)"
      >
        Añadir Favorito
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="existsInFavList(detail['id'])"
        (click)="onReduceFav(detail['id'])"
      >
        Eliminar Favorito
      </button>
    </div>
  </mat-card-actions>
</mat-card>
