/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin : 0;
  padding: 0;
}

.flex-row {
  display       : flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items    : center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.align-baseline {
  align-items: baseline;
}

.clickable {
  user-select: none;
  cursor     : pointer;
}

.green {
  background-color: rgb(6, 104, 6);
  color           : whitesmoke;
}

.red {
  background-color: rgb(197, 4, 4);
  color           : whitesmoke;
}